* {
    font-family: Open Sans;
}

body {
    background-color: #f9fafc;
    margin-left: 15px;
    margin-right:15px;
}

footer {
    margin-left: 5px;
    margin-right: 5px;
}

h4 {
    margin-block-end:0;
    margin-inline-start:3.75px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
}

.pagebuttons {
    background-color: #000;
    color:#FFF;
    width:100%;
    height:35px;
    border-radius:20px;
    border:none;
}

p {
    border-left: 3px solid #69696a;
    padding-left: 10px;
    font-size: 15px;
    margin-block-end:2em;
}

li {
    margin:5px;
    color:#69696a;
}

.listlink {
    text-decoration: none;
    color:#69696a
}

.listlink:hover {
    color:#000;
}

@media screen and (min-width: 768px) {

.rightmenu {
    display:flex;
    flex-direction: row;
    position:relative;
    justify-content:flex-end;
    top:-25px;

}

#button1{
    width:6em;
}

ul {
    display:flex;

}

}

